<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 44rem;">
            <div class="card-header">
                <h1 class="text-upercase text-center p-4">CRUD con Node y mysql</h1>
                <div class="card-body text-center">
                    <p>Bienvenido a la base de datos de personas, practica de Node y MySQL</p>
                        <a href="/add" class="btn btn-primary">Registrarse</a>
                </div>
            </div>
        </div>

    </div>


</main>