<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 44rem;">
            <div class="card-header">
                <h1 class="text-upercase text-center p-4">CRUD con Node y mysql</h1>
                <div class="card-body text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quam harum in ut ex ratione illum
                        consequuntur, corporis expedita nostrum adipisci fugit dolorem, nesciunt explicabo!</p>
                        <a href="/add" class="btn btn-primary">Registrarse</a>
                </div>
            </div>
        </div>

    </div>


</main>