<div class="container">
    <div class="row mt-5">
        {{#if personas}}


            <table class="table table-centered"> 
                <thead>
                    <tr class="table-dark text-center">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each personas}}
                    <tr>
                        <td class="text-center">{{name}}</td>
                        <td class="text-center">{{lastname}}</td>
                        <td class="text-center">{{age}}</td>
                        <td>
                            <div class="text-center">
                                <a href="#" class="btn btn-warning">Editar</a>
                                <a href="#" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark text-center">
                        <td colspan="4">Personas registradas</td>
                    </tr>
                </tfoot>
            </table>


        {{else}}
         <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>Debes crear un persona</h3>
            </div>
            <div class="card-body">
                <p>Presiona este boton para crear una persona</p>
                <a href="/add" class="btn btn-primary">Ir a crear</a>
            </div>
         </div>
        {{/if}}
    </div>
</div>  